body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
.menu{
    list-style: none;
    padding: 0;
    background-color:azure;
    color: #000;
    width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: center;
}
.menu li a{
    text-decoration: none;
    color:black;
    padding-left: 216px;
    padding-right: 216px;
    font-size: larger;
    display: flex;
    align-items: center;
    height: 50px;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background-color: darkgrey;
    color:aliceblue
}
h3{
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    text-decoration:overline;
}
h4{
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
}
button{
    background: azure;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-size: medium;
}
button:hover{
    background-color: aquamarine;
    color: black;
}
img{
    display: flex;
    align-items: center;
    border: 3px solid azure;
    width: 626px;
    margin: 20px;
    
}
.caja{
    width: 300px;
    height: 200px;
    border: 2px solid azure;
    margin: 10px;
    text-align: center;
    margin-left: 190px;
    display: flex;
    justify-content: center;
    }